<% if action == 'edit' %>
    <% headline = 'Edit band' %>
    <% action_url = band_url %>
<% else %>
    <% action_url = bands_url %>
    <% headline = 'Create a band' %>
<% end %>

<h1><%= headline %></h1>
<form action="<%= action_url %>" method="POST">
<% if action == 'edit' %>
    <input type="hidden" name="_method" value="PATCH">
<% end %>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="name">Band name</label>
<input type="text" id="name" name="band[name]" value="<%= band.name %>">
<input type="submit" value="<%= headline %>">
</form>